/*公共css  start*/
* {
	margin: 0;
	padding: 0;
}

body,button,input,select,textarea,a {
	font: 12px "宋体", "Arial Narrow", HELVETICA, "宋体";
}
/*end  公共css*/
/*导航头部css  start*/
#head {
	height: 90px;
	margin: 0 auto;
	background: #7e40bd;
}

#head .head_con {
	margin-left: 450px;
	color: #ffd0c0;
	position: absolute;
}

#head .head_con .logo_register {
	margin-left: 377px;
	padding-top: 5px;
	width: 240px;
	height: 25px;
	line-height: 25px;
}

#head .head_con .logo_register .t_logo {
	color: #fff;
}

#head .head_con .logo_register a:hover {
	text-decoration: underline;
	cursor: pointer;
}

#head .head_con .menu_list {
	height: 25px;
	width: 300px;
	margin-left: 621px;
	margin-top: -25px;
}

#head .head_con .menu_list .u_menu li {
	height: 25px;
	width: 63px;
	line-height: 25px;
	list-style: none;
	position: relative;
	cursor: pointer;
	float: left;
}

#head .head_con .menu_list .u_menu li:hover {
	text-decoration: underline;
	cursor: pointer;
}

#head .head_con .menu_list .u_menu  .iconfont {
	font-size: 16px;
	color: #c40000;
	cursor: pointer;
}

#head .head_con .s_search {
	height: 28px;
	width: 400px;
	margin-left: 427px;
	margin-top: 10px;
}

#head .head_con .s_search .f_input {
	width: 300px;
	height: 28px;
	line-height: 28px;
	padding-left: 5px;
	border: none;
	font-weight: bold;
	border-radius: 3px 0 0 3px;
}

#head .head_con .s_search .f_btn {
	height: 30px;
	width: 65px;
	line-height: 28px;
	font-weight: bold;
	color: #fff;
	text-align: center;
	border-radius: 0 3px 3px 0;;
	border: none;
	background: #333;
}

#head .head_con .s_search .f_btn:hover {
	background: #666;
	cursor: pointer;
}

/*end 导航头部css*/